<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OTA_HotelAvailSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="OTA_HotelAvailSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://xml.bookingengine.es/webservice/OTA_HotelAvail.asmx"
                binding="basicHttpBinding" bindingConfiguration="OTA_HotelAvailSoap"
                contract="ActionTravelHotelAvail.OTA_HotelAvailSoap" name="OTA_HotelAvailSoap" />
            <endpoint address="http://xml.bookingengine.es/webservice/OTA_HotelAvail.asmx"
                binding="customBinding" bindingConfiguration="OTA_HotelAvailSoap12"
                contract="ActionTravelHotelAvail.OTA_HotelAvailSoap" name="OTA_HotelAvailSoap12" />
        </client>
    </system.serviceModel>
</configuration>